@use '../styles/colors' as v;

.homeContainer {
  h3 {
    font-size: 2rem;
  }
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  h2 {
    font-size: 2.7rem;
  }
  margin-bottom: 12px;
}

.secondLine {
  display: flex;

  justify-content: space-between;
}
.sortBtnBox {
  cursor: pointer;
  border: 1px solid v.$border-gray;
  border-radius: 3px;
}

.sortBtn {
  padding: 9.6px 14.4px;
  background-color: #ffffff;
  color: v.$font-gray;

  &:hover {
    background-color: v.$bg-lightgray;
  }
}

.selectedBtn {
  padding: 9.6px 14.4px;
  background-color: #e4e5e7;
  border: 1px solid v.$border-gray;
  color: #3c4044;
}

.line {
  border: 0.7px solid #d7d9dc;
  margin-top: 12px;
}

.pageBtn {
  font-size: 1.3rem;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  padding: 0 8px;
  border: 1px solid #d7d9dc;
  border-radius: 3px;
  &:hover {
    background-color: #d6d9db;
  }
}

.clickedBtn {
  font-size: 1.3rem;
  width: 25px;
  height: 25px;
  padding: 0 8px;
  border: 1px solid #d7d9dc;
  border-radius: 3px;
  background-color: #e5883e;
  color: v.$font-white;
  margin-left: 5px;
}

.btn {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  cursor: pointer;
  background-color: v.$button-blue;
  color: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.4);
  &:hover {
    background-color: #3172c6;
    color: #fff;
  }
}

.questionContainer {
  display: flex;
  padding-top: 20px;
}

.aside {
  width: 108px;
  text-align: right;
}

.questionBox {
  padding-left: 20px;
  flex-basis: 1080px;
  flex-shrink: 1;
}

.answers {
  color: v.$font-gray;
  font-size: 1.6rem;
}

.select {
  font-size: 1.6rem;
  color: v.$font-white;
  background-color: v.$button-green;
  border-radius: 3px;
  padding: 2px 4px;
}

.title {
  color: v.$font-blue;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.content {
  color: v.$font-gray;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  text-overflow: ellipsis;
}

.nameAndDate {
  text-align: right;
}

.questioner {
  font-size: 1.6rem;
  color: v.$font-blue;
  cursor: pointer;
  margin-right: 5px;
}

.date {
  font-size: 1.6rem;
  color: v.$font-gray;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .questionContainer {
    flex-direction: column;
  }
  .aside {
    display: flex;
    padding-left: 20px;
  }
  .answers,
  .select {
    margin: 0px 10px;
  }
  .questionBox {
    flex-basis: 0px;
  }
}
