@use '../styles/colors' as v;

.container {
  margin-left: 2rem;
}

.title {
  width: 800px;
  border: 1px solid red;
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    h1 {
      width: 650px;
      font-size: 2.5rem;
      color: #3b4045;
    }
    .btn {
      height: 40px;
      background-color: v.$button-blue;
      color: #fff;
      padding: 10.4px;
      margin: 0 8px;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.4);
      &:hover {
        background-color: #3172c6;
        color: #fff;
      }
    }
  }
  .underTitle {
    display: inline;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: v.$font-gray;
    span {
      color: #3b4045;
    }
  }
}
