@use '../styles/colors' as v;

.footerOuter {
  background: v.$font-black;
  color: v.$font-white;
  height: 320px;
  border: 1px solid red;
}

.footerInner {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1328px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: v.$font-gray;
  border: 1px solid red;
}

.box {
  div {
    font-size: 1.5rem;
  }
  border: 1px solid red;
}
