@use '../styles/colors' as v;

.includeAllContainer {
  display: flex;
  max-width: 1328px;
  min-height: calc(100% - 373px);
  margin: 0 auto;
  padding: 0 24px;
  justify-content: space-between;
  overflow: hidden;
}
.includeAllContent {
  display: flex;
  gap: 24px;
  padding: 24px 0 24px 24px;
  width: calc(100% - 164px);
  overflow: hidden;
  & > div {
    width: calc(100% - 284px);
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }
}

.includeHeaderContainer {
  display: flex;
  width: 100%;
  height: calc(100% - 53px);
  justify-content: center;
  background: v.$bg-gray;
  overflow: hidden;
}
.includeHeaderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.includeHeaderFooterContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100% - 373px);
  background: v.$bg-gray;
  overflow: hidden;
}
.includeHeaderFooterContent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.includeHeaderFooterNavContainer {
  display: flex;
  max-width: 1328px;
  min-height: calc(100% - 373px);
  margin: 0 auto;
  padding: 0 24px;
  overflow: hidden;
  .content {
    width: calc(100% - 164px);
    overflow: hidden;
  }
}
.includeHeaderFooterNavContent {
  width: calc(100% - 164px);
  overflow: hidden;
}
