@use '../styles/colors' as v;

.signContainer {
  width: 100%;
  height: calc(100% - 53px);
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: v.$bg-gray;
}

.askContainer {
  width: 100%;
  min-height: calc(100% - 373px);
  display: flex;
  justify-content: center;
  background: v.$bg-gray;
}

.userContainer {
  max-width: 1280px;
  min-height: calc(100% - 373px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  & > div {
    flex-basis: calc(100% - 164px);
  }
}

.container {
  max-width: 1280px;
  min-height: calc(100% - 373px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.content {
  margin-top: 24px;
  flex-basis: calc(100% - 164px);
  display: flex;
  justify-content: space-between;
  & > div {
    flex-basis: calc(100% - 304px);
  }
}

.aside {
  flex-basis: 280px;
  height: 500px;
  background: #fcf7e4;
  border: 1px solid #efe5c0;
  border-radius: 3px;
}

.footerOuter {
  background: v.$font-black;
  color: v.$font-white;
  height: 320px;
}

.footerInner {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}
