$button-blue: #4295f7;
$button-hoverblue: #0074cc;
$button-black: #303337;
$button-green: #406e48;
$button-gray: #e1ecf4;
$button-hovergray: #b3d3ea;

$font-black: #242629;
$font-white: #fff;
$font-blue: #2863b9;
$font-gray: #6c737b;

$bg-lightgray: #f8f9f9;
$bg-gray: #f1f2f3;

$border-gray: #d1d4d7;
